[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = Products.PloneLDAP
extensions = buildout.dumppickedversions

[versions]
Products.LDAPMultiPlugins = 1.14
Products.LDAPUserFolder = 2.24
dataflake.fakeldap = 1.1
python-ldap = 2.4.10
